[build]
  command = "echo 'No build needed'"
  publish = "."

[functions]
  directory = "netlify/functions"
  
[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200
  force = true

